<odoo>

     <menuitem
        id="menu_complaint_root"
        name="Service Request"
        web_icon=""
        sequence="100"
    />
     <menuitem
        id="menu_complaint"
        name="Complaints"
        parent="menu_complaint_root"
        action="action_complaint_management"
        groups="capstone_complaint_management.group_complaint_admin"
    />
     <menuitem
        id="menu_assignment"
        name="Assignments"
        parent="menu_complaint_root"
        action="action_complaint_assignment"
    />
</odoo>
