<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_purchase_orders_without"
              name="Orders (Without)"
              parent="purchase.menu_procurement_management"
              action="capstone_purchase_without.action_purchase_orders_without"
              sequence="7"/>
</odoo>
